.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



.flexbox-item {
    width:33px;
    height:auto;
    margin:5px;
}
