.flexbox-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}



.flexbox-item {
    width:33%;
    height:auto;
    margin:5px;
}
